.activelink {
    color: #ff6600; 
    font-size: 40px ; 
  }
 
.activeLink {
    color: #ff6600; 
   
  }
  

  .homeLink a {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
  }
  
 
  .homeLink .activeLink {
    color: #ff6600; 
  }
  

  .homeLink .activeLink:hover {
    text-decoration: underline; 
   
  }
.movie-details {
    padding: 20px;
  }
  
  .movie-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .movie-overview {
    margin-bottom: 20px;
  }
  
  .genres {
    margin-bottom: 20px;
  }
  
  .user-score {
    margin-bottom: 20px;
  }
  
  .link {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  /* Movies.module.css */

.container {
  padding: 20px;
}

.navLink {
  margin-right: 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.navLink.active {
  color: #ff6600;
}

.searchBox {
  margin-top: 20px;
}

.movieList {
  list-style: none;
  padding: 0;
}

.movieListItem {
  margin-bottom: 20px;
}

.movieImage {
  max-width: 200px;
  height: auto;
}

.movieTitle {
  font-size: 24px;
  margin: 10px 0;
}

.movieOverview {
  font-size: 16px;
  color: #666;
}
.activeNavLink {
  color: #ff6600; 
  margin-right: 20px;
  text-decoration: none;
 
  font-size: 18px;
}
